@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  color: #181818;
  background: #FFFFFF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
}

a {
  width: 100%;
  height: 100%;
  display: block;
}

.defaultFont {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
}

input:focus {
  outline: 2px solid #d50000;
} /* outline 테두리 속성 수정 */
input:focus {
  outline: none;
} /* outline 테두리 없애기 */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css

/* Document
 * ==========================================================================

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
}

/* 1
  -webkit-text-size-adjust: 100%

  /* 2

/* Sections
 * ==========================================================================

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
}

/* Grouping content
 * ==========================================================================

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
}

/* 1
  height: 0

  /* 1
  overflow: visible

  /* 2

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
}

/* 1
  font-size: 1em

  /* 2

/* Text-level semantics
 * ==========================================================================

/**
 * Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
}

/* 1
  text-decoration: underline

  /* 2
  text-decoration: underline dotted

  /* 2

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
*/
code, kbd, samp {
  font-family: monospace, monospace;
}

/* 1
  font-size: 1em

  /* 2

/**
 * Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 * ==========================================================================

/**
 * Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
 * ==========================================================================

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
}

/* 1
  font-size: 100%

  /* 1
  line-height: 1.15

  /* 1
  margin: 0

  /* 2

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
*/
button, input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
*/
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type=button] ::-moz-focus-inner,
[type=reset] ::-moz-focus-inner,
[type=submit] ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* 1

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.

 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* 2

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
 * ==========================================================================

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
 * ==========================================================================

/**
 * Add the correct display in IE 10+.
*/
template, [hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.15 var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}
a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.imgBx {
  overflow: hidden;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

:root {
  --easeOutCubic:cubic-bezier(0.22, 0.61, 0.36, 1);
  --easeInOutQuint:cubic-bezier(0.86, 0, 0.07, 1);
  --easeOutBack:cubic-bezier(0.78, 0.11, 0.47, 1.65);
  --easeInOutBack:cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.container .login_bar {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  padding: 5px 8px 6px;
  box-sizing: border-box;
}
.container .login_bar .max_area {
  width: 1020px;
}
.container .login_bar .max_area ul {
  display: flex;
}
.container .login_bar .max_area ul li {
  margin-right: 8px;
}
.container .login_bar .max_area ul li:nth-of-type(1) {
  order: 3;
}
.container .login_bar .max_area ul li:nth-of-type(2) {
  order: 4;
}
.container .login_bar .max_area ul li:nth-of-type(3) {
  margin-right: 0;
  order: 5;
}
.container .login_bar .max_area ul li:nth-of-type(4) {
  order: 1;
}
.container .login_bar .max_area ul li:nth-of-type(5) {
  order: 2;
  margin-right: auto;
}
.container .grid_bx {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  grid-template-columns: 110px 216px 546px 90.94px 45.47px;
  grid-template-rows: 32px 58px 26px;
  grid-template-areas: "category . . . ." "category logo searchBox userIcon cart" "category productKeyWord productKeyWord productKeyWord .";
}
.container .button--category {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0074E9;
  background-image: url("../../../assets/icon/hamburger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  grid-area: category;
}
.container .button--category p {
  position: absolute;
  top: 75%;
  left: 50%;
  color: #FFFFFF;
  text-decoration: line-through;
  transform: translate(-50%, -50%);
}
.container .logo {
  width: 176px;
  height: 40px;
  justify-self: end;
  align-self: center;
  grid-area: logo;
}
.container .searchForm {
  width: 516px;
  height: 40px;
  display: flex;
  justify-self: end;
  align-self: center;
  border: 1px solid #0074E9;
  grid-area: searchBox;
}
.container .searchForm .selectBox {
  position: relative;
}
.container .searchForm .productSelect {
  width: 135px;
  height: 100%;
  color: #767676;
  padding: 10px;
  border: 0;
  border-right: 1px solid #F3F3F3;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none;
}
.container .searchForm .selectBox svg {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translate(-50%, -50%);
}
.container .searchForm .searchInput {
  width: 301px;
  height: 100%;
  padding: 10px;
  border: 0;
}
.container .searchForm .searchInput::placeholder {
  color: #AAA9A9;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
}
.container .searchForm button {
  width: 40px;
  height: 40px;
}
.container .myCoupang {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../../../assets/icon/my-coupang.svg");
  background-repeat: no-repeat;
  background-position: 50% 23%;
  margin-left: 23px;
  grid-area: userIcon;
}
.container .myCoupang button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container .myCoupang ul {
  width: 90px;
  height: auto;
  display: none;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 100;
  padding: 5px 11px;
  border: #DCDCDC solid 1px;
  margin-top: 6.8px;
}
.container .myCoupang.is--active ul {
  display: block;
}
.container .myCoupang ul::after {
  content: "";
  width: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: 38px;
  z-index: 1;
  border-color: #DCDCDC transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
}
.container .myCoupang ul::before {
  content: "";
  width: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: 38px;
  z-index: 0;
  border-color: #DCDCDC transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
}
.container .myCoupang ul li {
  margin-top: 20px;
}
.container .myCoupang ul li:last-child {
  margin-bottom: 20px;
}
.container .myCoupang ul li a {
  text-align: center;
}
.container .cart {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../../../assets/icon/cart.svg");
  background-repeat: no-repeat;
  background-position: 50% 23%;
  margin-left: 30px;
  grid-area: cart;
}
.container .cart::before {
  content: "0";
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: -9px;
  text-align: center;
  color: #FFFFFF;
  background-color: #0074E9;
  padding: 3px;
  border-radius: 50%;
  box-sizing: content-box;
}
.container .cart button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
}
.container .cart ul {
  width: 291px;
  height: 99px;
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  z-index: 0;
  border: 1px solid #DCDCDC;
}
.container .cart ul.cart--empty {
  display: block;
}
.container .cart ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cart.cart--empty ul {
  display: block;
}
.container .cart ul::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  right: 12px;
  z-index: 1;
  transform: rotate(45deg);
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
}
.container .cart ul::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  right: 12px;
  z-index: 3;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
}
.container .productKeyword {
  width: 100%;
  height: 100%;
  grid-area: productKeyWord;
  margin-left: 15px;
}
.container .productKeyword ul {
  font-size: 0;
}
.container .productKeyword ul li {
  width: 91px;
  height: 26px;
  display: inline-block;
  text-align: center;
  margin-left: -6px;
}
.container .productKeyword ul li a {
  white-space: nowrap;
  padding: 6px 14px;
}